# Folder that shoud not be included in the image

.github/*
docker/*
# Documentation
docs/*
# NPM, for debugging only
node_modules/*
# Phive products
.phive/*
tools/*

*.md
.dockerignore
.git
.gitignore
# MarkDown and PHP documentation generation
Doxyfile
# Media files for LWT
media/*
